*.d
*.o
*.img
*.stackdump
*.vscode
.smbdelete*
.fuse_*
._*
.DS_Store
perf.data
perf.data.old
!/platforms/atari/*.img.bak
/m68kmake
/m68kmake.exe
/m68kops.c
/m68kops.h
/rtl/._*
nprog_log.txt
*.log
session-*.patch
ataritest
emulator