#
# ATARI PiSTorm JIT
# Master Config File
#
# locate in pistorm home directory
#

# select cpu type
# valid values are 68020, 68030, 68040, 68060
cpu 68000

# enable ET4000AX graphic card emulation
# select driver type - currently NOVA, XVDI, NVDI, FVDI
#vga ET4000AX NOVA
#fps 60

# enable DMA audio over HDMI
# only valid for STe machines - note: tuned for MOD and MP3 playback, 
# system sounds may lag
#dma_sound

# enable TT-RAM (Alt-RAM)
# TT-RAM is located at 0x01000000
# enabling this will give you 128MB of high performance memory
# not valid for 68000 CPU
ttram

# load TOS ROM image
rom ../roms/etos256uk-14.rom

# enable IDE interface
ide

# select hard disk images to load on the IDE interfaces
# disk images will be loaded in the order they are entered
# first in your list should be the bootable image
hdd ../dkimages/dk0.img
#hdd ../dkimages/dk1.img
#hdd ../dkimages/dk2.img
#hdd ../dkimages/dk3.img
#hdd ../dkimages/dk4.img
#hdd ../dkimages/dk5.img
#hdd ../dkimages/dk6.img
#hdd ../dkimages/dk7.img

# enable FDD A: emulation
# WIP
#fdd ../dkimages/fdd/test.st
