#
# ATARI PiSTorm JIT
# Master Config File
#
# locate in pistorm home directory
#

# select cpu type
# valid values are 68000, 68010, 68020, 68030, 68040, 68060
cpu 68030
fpu
# enable ET4000AX graphic card emulation
# select driver type - currently NOVA, XVDI, NVDI, FVDI
vga ET4000AX NVDI
fps 60

# enable hdmi video for native resolutions
native_hdmi enabled

# enable DMA audio over HDMI
# only valid for STe machines - note: tuned for MOD and MP3 playback, 
# system sounds may lag
#dma_sound

# enable/disable real Atari blitter pass-through
# default is enabled; use "blitter off" to hide FF8A00-FF8BFF from the JIT address banks
#blitter off

# enable TT-RAM (Alt-RAM)
# TT-RAM is located at 0x01000000
# enabling this will give you 128MB of high performance memory
# not valid for 68000 CPU
ttram

# experimental - yields stupid fast performance for some software, but may break others
# enable stram cache (direct access to ST-RAM)
#stram_cache enabled
#stram_direct enabled

# enable HostFS via ARAnyM-compatible NatFeat HOSTFS/hostfs.xfs
# hostfs U /home/pi/atari-share
# hostfs V /home/pi/atari-share-readonly readonly

# load TOS ROM image
rom ../roms/emutos-aranym.rom

# enable IDE interface
ide

# select hard disk images to load on the IDE interfaces
# disk images will be loaded in the order they are entered
# first in your list should be the bootable image
#hdd ../dkimages/disk0.img
hdd ../dkimages/mint.img
#hdd ../dkimages/dk1.img
#hdd ../dkimages/dk2.img
#hdd ../dkimages/dk3.img
#hdd ../dkimages/dk4.img
#hdd ../dkimages/dk5.img
#hdd ../dkimages/dk6.img
#hdd ../dkimages/dk7.img

# enable FDD A: emulation
# WIP
# fdd ../dkimages/fdd/720K.st

# ===========================================================
# Debug options
# ===========================================================

#addr32
#jit disabled
#jit_cache 8192
#m68k_speed max
#cpu_clock_multiplier 0
